/*Estilos Gerais */
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: white;
  border: solid white;
}
.btn-preto {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn-preto:hover {
  color: black;
  border: solid black;
}

.subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 8px auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fec63e; /*Amarelo*/
  padding: 10px;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: white;
}

/* Introdução*/
.introducao {
  width: 100%;
  background: url(../img/home/head.png) no-repeat center;
  background-size: 100%;
  margin-top: 82px;
  height: 373px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 286px;
  margin: 0 auto;
  color: white;
  margin-bottom: 40px;
}

.quote-externo {
  font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 0 auto;
  margin: 12px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}
/* Body*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Produtos Home*/

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_lista h3 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.produtos_lista h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 2px auto;
}
.produtos_icone {
  background: black;
  padding: 20px;
}

.produtos_lista p {
  padding: 10px 20px 20px 20px;
}

.call {
  text-align: center;
  clear: both;
  padding-top: 20px;
}

.call p {
  margin-bottom: 25px;
}
